APP_NAME=Frigate Backend
API_PREFIX=/api
HOST=0.0.0.0
PORT=8000
RELOAD=true
CORS_ORIGINS=*
GROQ_API_KEY=
GROQ_TEXT_MODEL=llama-3.3-70b-versatile
GROQ_ANALYSIS_MODEL=llama-3.1-8b-instant
GROQ_TIMEOUT_SECONDS=45
HF_TOKEN=
HF_PROVIDER=hf-inference
HF_ROUTER_BASE_URL=https://router.huggingface.co/v1
HF_TEXT_TO_IMAGE_MODEL=black-forest-labs/FLUX.1-dev
HF_IMAGE_TO_IMAGE_MODEL=black-forest-labs/FLUX.1-dev
HF_VISION_MODEL=CohereLabs/aya-vision-32b:cohere
HF_IMAGE_WIDTH=1280
HF_IMAGE_HEIGHT=768
HF_NUM_INFERENCE_STEPS=28
HF_GUIDANCE_SCALE=5.5
SQLITE_DB_PATH=metrics.db
